In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dell\anaconda3\lib\site-packages (8.0.24)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.0)
Requirement already satisfied: six>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)

In [2]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307+",use_pure=True)
    # check if the connection is established

    query = "SHOW DATABASES"

    cursor = mydb.cursor() #create a cursor to execute queries. Like a pointer for databases and 
                            #after reading the entire list it points to the last location
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('database',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('temp',), ('world',)]

In [3]:
connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307",use_pure=True)

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)

In [ ]:
connection.connect(host="127.0.0.1",user="shreyss99", passwd="MySQL2307+",use_pure=True) # Connection established

In [ ]:
con = connection.connect(host="localhost",user="shreyss99",passwd="MySQL2307+")

In [ ]:
con

In [ ]:
cursor = con.cursor()

In [ ]:
cursor.execute("show databases")

In [ ]:
res = cursor.fetchall()

In [ ]:
res

In [ ]:
for i in range(len(res)):
    print(res[i][0])

In [ ]:
cursor.execute("create database temp")

In [ ]:
cursor.execute("show databases")

In [ ]:
cursor.fetchall()

In [ ]:
try:
    mydb = connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307+",database="temp", use_pure=True)
    # check if the connection is established. We have also specified to which db we need to connect
    print(mydb.is_connected())

    query = "create table student (id int(10) auto_increment primary key, name varchar(30), registration_date date, class varchar(5))"

    cur = mydb.cursor() #create a cursor to execute queries. Like a pointer for databases and 
                            #after reading the entire list it points to the last location
    cur.execute(query)
    print(cur.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
try:
    mydb = connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307+",database="temp", use_pure=True)
    # check if the connection is established. We have also specified to which db we need to connect
    print(mydb.is_connected())

    cur = mydb.cursor() #create a cursor to execute queries. Like a pointer for databases and 
                            #after reading the entire list it points to the last location
    
    query2 = "insert into student values(1,'shrey','1997-07-23','X')"
    query3 = "insert into student values(2,'shailesh','1965-02-15','grad')"
    query4 = "insert into student values(3,'dipti','1973-08-24','grad')"
    cur.execute(query2)
    cur.execute(query3)
    cur.execute(query4)
    
    mydb.commit() #everytime you insert data into db, unless you commit it won't be refreshed / visible in the db
    
    query3 = "select * from student"
    cur.execute(query3)
    
    for i in cur.fetchall():
        print(i)
    
except Exception as e:
    mydb.close()
    print(str(e))

In [ ]:
mydb = connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307+",database="temp", use_pure=True)
    # check if the connection is established. We have also specified to which db we need to connect

cur = mydb.cursor() #create a cursor to execute queries. Like a pointer for databases and 
                            #after reading the entire list it points to the last location

cur.execute("alter table student modify class varchar(30); ")

In [ ]:
try:
    mydb = connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307+",database="temp", use_pure=True)
    # check if the connection is established. We have also specified to which db we need to connect
    print(mydb.is_connected())

    cur = mydb.cursor() #create a cursor to execute queries. Like a pointer for databases and 
                            #after reading the entire list it points to the last location
    
    query5 = "update student set class = 'BE grad' where name = 'shrey'; "
    query6 = "update student set class = 'BSc grad' where name = 'shailesh'; "
    query7 = "update student set class = 'BCom grad' where name = 'dipti'; "
    cur.execute(query5)
    cur.execute(query6)
    cur.execute(query7)
    
    mydb.commit() #everytime you insert data into db, unless you commit it won't be refreshed / visible in the db
    
    query8 = "select * from student"
    cur.execute(query8)
    
    for i in cur.fetchall():
        print(i)
    
except Exception as e:
    mydb.close()
    print(str(e))

In [1]:
mydb = connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307+",database="temp", use_pure=True)
cur = mydb.cursor() 

import pandas as pd

a = pd.read_sql("select * from temp.student",mydb)   # Display SQL table in proper table structure / format using pandas

NameError: name 'connection' is not defined

In [ ]:
a

In [ ]:
pd.read_sql("select name,class from temp.student",mydb)

In [10]:
import mysql.connector as connection
import csv

mydb = connection.connect(host="127.0.0.1",user="root", passwd="MySQL2307+",database="temp", use_pure=True)
cur = mydb.cursor()

#query = "create table carbon_nanotubes(id int(10) auto_increment primary key, chiral_indice_n varchar(10), chiral_indice_m varchar(10), Initial_atomic_coordinate_u varchar(10), Initial_atomic_coordinate_v varchar(10), Initial_atomic_coordinate_w varchar(10), Calculated_atomic_coordinate_u varchar(10), Calculated_atomic_coordinate_v varchar(10), Calculated_atomic_coordinate_w varchar(10))"
#cur.execute(query)

with open ("carbon_nanotubes.csv","r") as carbon_nanotubes:
    carbon_data = csv.reader(carbon_nanotubes,delimiter=";")
    next(carbon_data)
    j = 1
    for i in carbon_data:
        sql_query = "insert into carbon_nanotubes values(%s,%s,%s,%s,%s,%s,%s,%s,%s)"
        value = (j,i[0],i[1],i[2],i[3],i[4],i[5],i[6],i[7])
        cur.execute(sql_query,value)
        j+=1
    print("All rows inserted !")
    
mydb.commit()

mydb.close()

All rows inserted !