In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv")
df

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
1709,vcd,UKSoccer,UK Soccer Scores,25,3,0,0,2,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1710,vcd,VisualAcuity,Visual Acuity in Left and Right Eyes,32,4,1,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1711,vcd,VonBort,Von Bortkiewicz Horse Kicks Data,280,4,1,0,2,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1712,vcd,WeldonDice,Weldon's Dice Data,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1713,vcd,WomenQueue,Women in Queues,11,2,0,0,1,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [4]:
df.head()

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
0,AER,Affairs,Fair's Extramarital Affairs Data,601,9,2,0,2,0,7,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
2,AER,BankWages,Bank Wages,474,4,2,0,3,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
3,AER,BenderlyZwick,"Benderly and Zwick Data: Inflation, Growth and...",31,5,0,0,0,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
4,AER,BondYield,Bond Yield Data,60,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [6]:
df.columns

Index(['Package', 'Item', 'Title', 'Rows', 'Cols', 'n_binary', 'n_character',
       'n_factor', 'n_logical', 'n_numeric', 'CSV', 'Doc'],
      dtype='object')

In [7]:
df.shape

(1714, 12)

In [8]:
df.describe()

,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric
count,1.714000e+03,1714.000000,1714.000000,1714.000000,1714.000000,1714.000000,1714.000000
mean,3.900833e+03,13.086348,1.931155,0.302800,1.270128,0.030922,11.429988
std,3.997025e+04,171.966384,17.416499,1.266075,3.194779,0.405278,171.905339
min,2.000000e+00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.400000e+01,3.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,1.055000e+02,5.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,5.847500e+02,9.000000,2.000000,0.000000,2.000000,0.000000,7.000000
max,1.414593e+06,6831.000000,624.000000,17.000000,64.000000,11.000000,6830.000000

In [10]:
# title = Consumer Price Index in Argentina

df[df['Title'] == 'Consumer Price Index in Argentina']

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
1,AER,ArgentinaCPI,Consumer Price Index in Argentina,80,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [13]:
# rows which contain 'data' word in the title

df.loc[df['Title'].str.contains('data')]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
187,carData,LoBD,Cancer drug data use to provide an example of ...,84,9,0,0,1,0,8,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
208,carData,Transact,Transaction data,261,3,0,0,0,0,3,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
217,carData,Wool,Wool data,27,4,0,0,0,0,4,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
221,causaldata,auto,Automobile data from Stata,74,12,1,1,0,0,11,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
227,causaldata,cps_mixtape,Observational counterpart to nsw_mixtape data,15992,11,4,1,0,0,10,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
1671,tidyr,smiths,Some data about the Smith family,2,5,2,1,0,0,4,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1678,tidyr,us_rent_income,US rent and income data,104,5,1,3,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1679,tidyr,who,World Health Organization TB data,7240,60,0,3,0,0,57,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1680,tidyr,world_bank_pop,Population data from the world bank,1056,20,0,2,0,0,18,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1693,vcd,Hospital,Hospital data,9,3,0,0,2,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [23]:
# number of unique package values

df['Package'].nunique()

53

In [24]:
# unique packages

df['Package'].unique()

array(['AER', 'boot', 'carData', 'causaldata', 'cluster', 'COUNT', 'DAAG',
       'datasets', 'dplyr', 'dragracer', 'drc', 'Ecdat', 'evir',
       'forecast', 'fpp2', 'gap', 'geepack', 'ggplot2', 'ggplot2movies',
       'gt', 'HistData', 'HLMdiag', 'HSAUR', 'hwde', 'ISLR', 'KMsurv',
       'lattice', 'lme4', 'lmec', 'MASS', 'mediation', 'mi', 'mosaicData',
       'multgee', 'nycflights13', 'openintro', 'palmerpenguins', 'plm',
       'plyr', 'pscl', 'psych', 'quantreg', 'reshape2', 'robustbase',
       'rpart', 'sandwich', 'sem', 'Stat2Data', 'stevedata', 'survival',
       'texmex', 'tidyr', 'vcd'], dtype=object)

In [20]:
# group by package

res = df.groupby('Package')
res.sum('Package')

,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric
Package,,,,,,,
AER,554496,781,189,6,268,0,506
COUNT,69387,174,101,1,5,0,168
DAAG,101879,1427,746,30,96,0,1299
Ecdat,281717,1447,277,22,216,9,1193
HLMdiag,8255,32,8,0,10,0,22
HSAUR,4913,202,36,2,54,1,145
HistData,11980,325,59,4,104,0,214
ISLR,24686,7040,26,1,26,0,7013
KMsurv,8362,180,90,0,3,0,177
MASS,20120,447,67,1,107,0,339
Stat2Data,311557,1254,281,0,280,0,974
boot,14699,153,26,1,10,0,142
carData,152744,449,111,1,169,0,278
causaldata,450362,511,191,22,12,6,469
cluster,3417,96,29,0,34,0,62
datasets,24866,395,20,0,44,0,351
dplyr,10106,33,4,16,1,0,13
dragracer,2204,38,9,23,0,0,13
drc,2543,101,6,0,10,0,91
evir,30048,7,0,0,0,0,7
forecast,5911,9,0,0,0,0,9
fpp2,54648,137,4,0,3,0,133
gap,7830,418,58,42,11,0,365
geepack,20138,53,15,0,10,0,43
ggplot2,74188,94,3,19,3,0,68
ggplot2movies,58788,24,7,2,0,0,22
gt,79522,47,2,23,2,0,21
hwde,45,8,1,1,5,0,2
lattice,1031,26,5,0,11,0,15
lme4,82803,54,8,0,35,0,19
lmec,373,5,0,0,1,0,4
mediation,14411,64,35,0,12,0,52
mi,932,14,3,0,0,0,14
mosaicData,403144,1092,378,22,66,1,993
multgee,2354,11,3,0,0,0,11
nycflights13,367687,53,0,16,0,0,35
openintro,2093481,1429,283,156,346,17,898
palmerpenguins,344,8,1,0,3,0,5
plm,30698,172,16,0,28,0,144
plyr,21723,1750,0,3,0,0,1747
pscl,6335,130,23,10,17,4,96
psych,3866,270,4,0,1,0,269
quantreg,1816,45,7,0,0,2,43
reshape2,942,21,6,0,8,0,13
robustbase,12169,189,8,0,12,0,176
rpart,1415,65,4,0,21,0,44
sandwich,11279,38,4,0,7,0,31
sem,1979,68,3,0,6,0,62
stevedata,1169122,507,50,68,4,0,416
survival,17221,133,39,0,25,1,94
texmex,22360,25,0,0,1,0,24
tidyr,12956,216,19,25,2,12,176
vcd,16175,163,45,2,88,0,71

In [26]:
# unique Doc URLs

df['Doc'].unique()

array(['https://vincentarelbundock.github.io/Rdatasets/doc/AER/Affairs.html',
       'https://vincentarelbundock.github.io/Rdatasets/doc/AER/ArgentinaCPI.html',
       'https://vincentarelbundock.github.io/Rdatasets/doc/AER/BankWages.html',
       ...,
       'https://vincentarelbundock.github.io/Rdatasets/doc/vcd/VonBort.html',
       'https://vincentarelbundock.github.io/Rdatasets/doc/vcd/WeldonDice.html',
       'https://vincentarelbundock.github.io/Rdatasets/doc/vcd/WomenQueue.html'],
      dtype=object)

In [25]:
# unique CSV URLs

df['CSV'].unique()

array(['https://vincentarelbundock.github.io/Rdatasets/csv/AER/Affairs.csv',
       'https://vincentarelbundock.github.io/Rdatasets/csv/AER/ArgentinaCPI.csv',
       'https://vincentarelbundock.github.io/Rdatasets/csv/AER/BankWages.csv',
       ...,
       'https://vincentarelbundock.github.io/Rdatasets/csv/vcd/VonBort.csv',
       'https://vincentarelbundock.github.io/Rdatasets/csv/vcd/WeldonDice.csv',
       'https://vincentarelbundock.github.io/Rdatasets/csv/vcd/WomenQueue.csv'],
      dtype=object)

In [27]:
df['Rows'].max()

1414593

In [30]:
# sort as per decreasing n_* columns

df.sort_values(by=['n_binary','n_character','n_factor','n_numeric','n_logical'], ascending=[False,False,False,False,False])

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
383,DAAG,rockArt,Pacific Rock Art features,103,641,624,13,0,0,628,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1020,mosaicData,HELPfull,Health Evaluation and Linkage to Primary Care,1472,788,329,0,6,0,782,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
534,Ecdat,bankingCrises,Countries in Banking Crises,211,71,69,0,0,0,71,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
224,causaldata,castle,Data on castle-doctrine statutes and violent c...,550,138,59,0,0,0,138,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
201,carData,Rossi,Rossi et al.'s Criminal Recidivism Data,432,62,58,0,57,0,5,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,stevedata,DJIA,"Dow Jones Industrial Average, 1885-Present",36951,2,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1611,stevedata,LOTI,"Land-Ocean Temperature Index, 1880-2020",1692,2,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1614,stevedata,min_wage,History of Federal Minimum Wage Rates Under th...,23,2,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1660,texmex,nidd,"Rain, wavesurge, portpirie and nidd datasets.",154,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1662,texmex,rain,"Rain, wavesurge, portpirie and nidd datasets.",17531,1,0,0,0,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...

In [36]:
# sort for rows > 1000 and cols < 1000

df.loc[(df['Rows'] > 1000) & (df['Cols'] < 1000)]

,Package,Item,Title,Rows,Cols,n_binary,n_character,n_factor,n_logical,n_numeric,CSV,Doc
10,AER,CollegeDistance,College Distance Data,4739,14,7,0,8,0,6,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
13,AER,CPS1988,Determinants of Wages Data (CPS 1988),28155,7,3,0,4,0,3,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
14,AER,CPSSW04,Stock and Watson CPS Data Sets,7986,4,2,0,2,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
15,AER,CPSSW3,Stock and Watson CPS Data Sets,20999,3,1,0,2,0,1,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
16,AER,CPSSW8,Stock and Watson CPS Data Sets,61395,5,1,0,2,0,3,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
...,...,...,...,...,...,...,...,...,...,...,...,...
1664,texmex,wavesurge,"Rain, wavesurge, portpirie and nidd datasets.",2894,2,0,0,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1669,tidyr,population,World Health Organization TB data,4060,3,0,1,0,0,2,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1679,tidyr,who,World Health Organization TB data,7240,60,0,3,0,0,57,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1680,tidyr,world_bank_pop,Population data from the world bank,1056,20,0,2,0,0,18,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...
1684,vcd,Bundesliga,Ergebnisse der Fussball-Bundesliga,14018,7,0,0,2,0,4,https://vincentarelbundock.github.io/Rdatasets...,https://vincentarelbundock.github.io/Rdatasets...