In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix, roc_curve
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler

from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'pandas_profiling'

In [2]:
wine = pd.read_csv("winequality-red.csv", sep=';')

In [3]:
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
x = wine.drop(columns='quality')
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [5]:
y = wine.quality
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=23, test_size=0.25)

In [7]:
#SVM Import
# SVC- Support Vector Classifier

from sklearn.svm import SVC

In [8]:
svm = SVC()

In [9]:
svm

SVC()

In [10]:
svm.fit(x_train, y_train)

SVC()

In [11]:
svm.score(x_test, y_test)

0.51

In [12]:
grid_parameters = {
    "kernel" : ['rbf', 'linear', 'poly', 'sigmoid']
}

In [13]:
svm_grid = GridSearchCV(param_grid=grid_parameters, estimator=svm, cv=5)

In [14]:
svm_grid

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'kernel': ['rbf', 'linear', 'poly', 'sigmoid']})

In [15]:
svm_grid.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'kernel': ['rbf', 'linear', 'poly', 'sigmoid']})

In [16]:
svm_grid.best_params_

{'kernel': 'linear'}

In [17]:
svm_grid_model = SVC(kernel='linear')

In [18]:
svm_grid_model.fit(x_train, y_train)

SVC(kernel='linear')

In [19]:
svm_grid_model.score(x_test, y_test)

0.6275

In [20]:
grid_parameters_new = {
    "kernel" : ['rbf', 'linear', 'poly', 'sigmoid'],
    "C" : [0.1, 0.2, 0.4, 0.8, 1],
    "gamma" : [0.001, 0.005, 0.1, 0.5]
}

In [21]:
svm_grid_model_new = GridSearchCV(estimator = svm, param_grid=grid_parameters_new)

In [22]:
svm_grid_model_new

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 0.2, 0.4, 0.8, 1],
                         'gamma': [0.001, 0.005, 0.1, 0.5],
                         'kernel': ['rbf', 'linear', 'poly', 'sigmoid']})

In [37]:
admission = pd.read_csv("Admission_Predict.csv", sep=",")

In [51]:
admission

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [54]:
admission.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [55]:
x1 = admission.drop(columns=['Serial No.','Chance of Admit '])

In [56]:
x1

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [60]:
admission['GRE Score'] = admission['GRE Score'].fillna(admission['GRE Score'].mean())

In [61]:
admission['TOEFL Score'] = admission['TOEFL Score'].fillna(admission['TOEFL Score'].mean())

In [64]:
admission['University Rating'] = admission['University Rating'].fillna(admission['University Rating'].mean())

In [65]:
x1

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
395        324          110                  3  3.5   3.5  9.04         1
396        325          107                  3  3.0   3.5  9.11         1
397        330          116                  4  5.0   4.5  9.45         1
398        312          103                  3  3.5   4.0  8.78         0
399        333          117                  4  5.0   4.0  9.66         1

[400 rows x 7 columns]

In [ ]:
# y1 = admission['Chance of Admit ']
y1

In [66]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, random_state=23, test_size=0.25)

In [23]:
#SVR - Support Vector Classifier

from sklearn.svm import SVR

In [24]:
svr = SVR()

In [25]:
svr

SVR()

In [68]:
svr.fit(x1_train, y1_train)

SVR()

In [70]:
svr.predict(x1_test)

array([0.76982638, 0.66182488, 0.65992465, 0.77559291, 0.56782824,
       0.5687724 , 0.75074362, 0.66602156, 0.6629713 , 0.86912952,
       0.66764209, 0.71206856, 0.83617575, 0.67068966, 0.74497441,
       0.65595155, 0.68117793, 0.66623062, 0.52779906, 0.68147315,
       0.72456296, 0.65884825, 0.60269688, 0.69676639, 0.62006388,
       0.72122577, 0.63395063, 0.64034816, 0.73063378, 0.69598737,
       0.58871664, 0.64320375, 0.74315019, 0.58066862, 0.56074688,
       0.6849966 , 0.66689847, 0.75036718, 0.7495123 , 0.61841746,
       0.69935312, 0.83556199, 0.57188158, 0.64692361, 0.63704867,
       0.7625236 , 0.52439275, 0.66207309, 0.77892192, 0.76134356,
       0.73406421, 0.68788061, 0.69593102, 0.79701364, 0.65551038,
       0.62532442, 0.72826954, 0.71088863, 0.57892815, 0.7969206 ,
       0.63768697, 0.81131855, 0.55465075, 0.86272729, 0.8098462 ,
       0.6504748 , 0.70425182, 0.74682838, 0.78035984, 0.79177001,
       0.59944868, 0.84268898, 0.59404849, 0.75568559, 0.77977946,
       0.68869253, 0.68777141, 0.63424472, 0.76401725, 0.6677933 ,
       0.58781992, 0.87030761, 0.82896095, 0.52524805, 0.81401649,
       0.59992656, 0.77354438, 0.68332397, 0.75068307, 0.66235999,
       0.78658383, 0.56972409, 0.62556727, 0.8759781 , 0.75447681,
       0.65247948, 0.78498816, 0.79207399, 0.71733719, 0.62454834])

In [71]:
svr.score(x1_test, y1_test)  # Using the score function to calculate accuracy

0.5895382306016026

In [74]:
svr.predict([x1_test.iloc[0]])

array([0.76982638])

In [76]:
y1_test.iloc[0]

0.79

In [77]:
from sklearn.metrics import r2_score

In [81]:
r2_score(y1_test, svr.predict(x1_test))  # Accuracy using the R2 for regression

0.5895382306016026

# STACKING

In [82]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [83]:
wine_x = x

In [84]:
wine_x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [85]:
wine_y = y
wine_y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [86]:
x_train, x_test, y_train, y_test = train_test_split(wine_x, wine_y, random_state=23, test_size=0.25)

In [87]:
# Using KNN on training data set - 1st model

knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [88]:
knn.score(x_test, y_test)

0.52

In [90]:
# Using SVC on training data set - 2nd model

svc = SVC()
svc.fit(x_train, y_train)

SVC()

In [91]:
svc.score(x_train, y_train)

0.5070892410341952

In stacking, since we will be having more than 2 different models we will hae to perform the dataset division into.
Normally we divide the dataset usng train_test_split and get data, but in stacking we will split the data into 2 parts
1) Split data into half
2) On the training data from the 1st half, apply train_test_split

In [122]:
# Dividing the data into half - step 1

for_x_train, for_x_val, for_y_train, for_y_val = train_test_split(wine_x, wine_y, random_state=30, test_size=0.50)

In [146]:
# Now applying train_test_split on the half data - step 2

x_train, x_test, y_train, y_test = train_test_split(for_x_train, for_y_train, random_state=30, test_size=0.25)

# Remmber from the above 50% of data, 25% data is used for testing and will be used at the end once the 3rd model is built
# for validation.

#Breakdown
#1st step - 50% data = 800 rows (used for building 3rd model)

#2nd step - 50% data = 800 rows
#                - 75% train = 600 rows (used for building 2 models)
#                - 25% test = 200 rows (used for testing the 3rd model)

In [147]:
x_train

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
234,8.2,1.00,0.09,2.3,0.065,7.0,37.0,0.99685,3.32,0.55,9.0
242,7.7,0.58,0.10,1.8,0.102,28.0,109.0,0.99565,3.08,0.49,9.8
1379,7.5,0.57,0.02,2.6,0.077,11.0,35.0,0.99557,3.36,0.62,10.8
1224,12.6,0.39,0.49,2.5,0.080,8.0,20.0,0.99920,3.07,0.82,10.3
603,13.2,0.46,0.52,2.2,0.071,12.0,35.0,1.00060,3.10,0.56,9.0
...,...,...,...,...,...,...,...,...,...,...,...
822,6.7,0.54,0.13,2.0,0.076,15.0,36.0,0.99730,3.61,0.64,9.8
668,10.0,0.73,0.43,2.3,0.059,15.0,31.0,0.99660,3.15,0.57,11.0
432,11.9,0.37,0.69,2.3,0.078,12.0,24.0,0.99580,3.00,0.65,12.8
1451,7.8,0.32,0.44,2.7,0.104,8.0,17.0,0.99732,3.33,0.78,11.0
1355,6.1,0.32,0.25,1.8,0.086,5.0,32.0,0.99464,3.36,0.44,10.1

In [148]:
y_train

234     6
242     6
1379    6
1224    6
603     6
       ..
822     5
668     5
432     6
1451    7
1355    5
Name: quality, Length: 599, dtype: int64

In [149]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [150]:
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [151]:
knn.score(x_test, y_test)

0.54

In [152]:
svc = SVC()
svc.fit(x_train, y_train)

SVC()

In [153]:
svc.score(x_test, y_test)

0.49

In [154]:
# Prediction using the other half records

predict_knn = knn.predict(for_x_val)
predict_svc = svc.predict(for_x_val)

In [155]:
predict_knn

array([7, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 5, 6,
       5, 5, 6, 6, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 7, 6, 6, 5, 4,
       6, 7, 6, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 6, 5, 5, 6, 5, 5, 6, 5, 5,
       6, 6, 5, 5, 5, 5, 5, 6, 6, 6, 7, 5, 5, 6, 6, 6, 7, 6, 5, 5, 5, 6,
       5, 5, 5, 7, 6, 7, 6, 7, 5, 6, 6, 5, 5, 6, 5, 7, 6, 5, 6, 5, 7, 5,
       5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 5, 5, 6, 6, 5,
       5, 6, 6, 5, 5, 5, 6, 6, 5, 5, 6, 5, 5, 5, 5, 5, 6, 7, 5, 5, 5, 5,
       6, 5, 6, 5, 7, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 6, 5,
       6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 7, 5, 6, 6,
       5, 6, 6, 5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 4, 5, 6, 7, 5,
       6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 6, 5, 6,
       6, 6, 5, 5, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6, 5, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6,
       7, 5, 6, 7, 5, 4, 6, 7, 5, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 6,
       5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5,
       6, 5, 6, 5, 5, 6, 6, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 5, 5, 6, 6,
       6, 4, 5, 6, 5, 5, 5, 6, 5, 7, 6, 5, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5,
       5, 6, 5, 6, 5, 5, 5, 3, 6, 5, 6, 6, 5, 5, 5, 6, 7, 6, 5, 6, 7, 5,
       5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 5, 5, 7, 6, 5, 6, 5, 6, 6,
       5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 5, 5, 7, 6, 5,
       5, 6, 6, 5, 5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 7, 5, 5,
       5, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 7, 5, 5, 5, 6, 5, 5,
       5, 5, 5, 5, 5, 5, 6, 5, 6, 7, 7, 5, 5, 5, 5, 5, 6, 5, 6, 5, 6, 6,
       5, 5, 5, 6, 6, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6, 5, 5, 5, 6, 7, 5, 6,
       6, 5, 5, 5, 6, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5,
       5, 6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 6,
       5, 6, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5, 6, 6, 5, 5, 6,
       5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 7, 6, 5, 5, 5, 4, 6, 5, 5, 6, 6, 5,
       7, 6, 6, 5, 6, 5, 6, 6, 6, 7, 6, 5, 6, 5, 4, 5, 5, 6, 6, 5, 6, 6,
       6, 5, 6, 6, 6, 6, 5, 5, 4, 5, 5, 6, 6, 5, 6, 6, 5, 7, 5, 5, 6, 6,
       7, 5, 6, 7, 6, 5, 6, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 6, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 5,
       5, 6, 5, 5, 5, 6, 6, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 7, 5,
       5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 6, 5, 6, 5, 6, 6, 6, 5, 5, 5, 6, 5,
       5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 7, 5, 6, 5, 7, 6, 5, 6,
       7, 6, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5,
       5, 6, 6, 5, 5, 5, 6, 5], dtype=int64)

In [156]:
predict_svc

array([6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5, 6, 5, 6, 6,
       6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6,
       6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 5, 5, 6, 5, 6, 6, 5, 5,
       6, 6, 5, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5, 6,
       5, 6, 5, 6, 5, 6, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 5,
       5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6,
       6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6,
       5, 5, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 5, 6, 6, 6, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5,
       6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6,
       6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 6,
       6, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6,
       6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5,
       5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 5, 6, 6, 6, 5,
       6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6,
       6, 6, 6, 6, 5, 5, 6, 6, 5, 5, 6, 6, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6,
       5, 6, 6, 5, 6, 6, 5, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5,
       6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 5, 5, 6, 6,
       6, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 6, 6, 5,
       6, 6, 6, 5, 6, 6, 6, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 6, 6, 5, 5,
       6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 5, 5, 6, 5, 6,
       6, 6, 6, 6, 6, 5, 6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6,
       5, 6, 6, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6,
       6, 5, 5, 6, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 6, 6, 5, 6, 5,
       5, 6, 5, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6,
       5, 5, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 6,
       6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6,
       6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6,
       6, 5, 6, 6, 6, 5, 5, 6, 6, 6, 6, 5, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6,
       6, 6, 5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 5,
       5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 6, 6,
       6, 5, 6, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 6, 6, 6,
       6, 6, 5, 6, 6, 6, 6, 5], dtype=int64)

In [157]:
# Now these predictiond from the 1st and 2nd model will be used as feature for building a 3rd model - stacking model

# We will use numpy column stack method to combine together and make feature which will act as input for the 3rd stacking model

input_3rd_model = np.column_stack((predict_knn, predict_svc))
input_3rd_model

array([[7, 6],
       [5, 6],
       [6, 6],
       ...,
       [5, 6],
       [6, 6],
       [5, 5]], dtype=int64)

In [158]:
output_3rd_model = for_y_val
output_3rd_model

1147    7
659     4
871     5
1333    5
1411    6
       ..
1073    6
200     7
942     7
1106    6
1329    6
Name: quality, Length: 800, dtype: int64

In [159]:
input_3rd_model = pd.DataFrame(input_3rd_model)
input_3rd_model

     0  1
0    7  6
1    5  6
2    6  6
3    6  6
4    5  6
..  .. ..
795  5  6
796  5  6
797  5  6
798  6  6
799  5  5

[800 rows x 2 columns]

In [160]:
output_3rd_model = pd.DataFrame(output_3rd_model)
output_3rd_model

      quality
1147        7
659         4
871         5
1333        5
1411        6
...       ...
1073        6
200         7
942         7
1106        6
1329        6

[800 rows x 1 columns]

In [161]:
# For 3rd model we will use Random Forest

rf = RandomForestClassifier()

In [162]:
rf

RandomForestClassifier()

In [163]:
rf.fit(input_3rd_model, output_3rd_model)

<ipython-input-163-eaea389ee9e1>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(input_3rd_model, output_3rd_model)

RandomForestClassifier()

In [164]:
rf.score(input_3rd_model, output_3rd_model)

0.51125

Breakdown
1st step - 50% data = 800 rows (used for building 3rd model)

2nd step - 50% data = 800 rows
                - 75% train = 600 rows (used for building 2 models)
                - 25% test = 200 rows (used for testing the 3rd model)

In [165]:
# Prediction

# If we try to pass the x_test and y_test into this 3rd model, it will give error 
# because we have trained the 3rd model on 2 features and we are passing 7 features

rf.predict(x_test, y_test)

TypeError: predict() takes 2 positional arguments but 3 were given

In [168]:
# Similarly we will be combining the prediction of the 1st and 2nd models into a 3rd datset for validation of 3rd model

knn_output = knn.predict(x_test)
knn_output

array([5, 6, 5, 5, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 6, 6, 5, 5, 6, 5, 7,
       6, 5, 6, 5, 6, 5, 5, 5, 6, 5, 6, 5, 6, 6, 5, 5, 6, 5, 5, 6, 6, 5,
       6, 6, 6, 5, 6, 5, 6, 5, 6, 5, 5, 5, 6, 6, 6, 5, 5, 5, 5, 7, 6, 5,
       6, 5, 6, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 5, 6, 6, 5, 6, 5, 6, 6, 5,
       6, 6, 5, 5, 6, 5, 5, 6, 7, 5, 5, 5, 5, 6, 4, 5, 6, 5, 6, 7, 4, 5,
       5, 6, 6, 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 5, 6, 5,
       7, 6, 5, 6, 6, 6, 5, 6, 5, 5, 5, 4, 7, 5, 5, 6, 5, 6, 7, 5, 6, 6,
       5, 5, 5, 6, 5, 5, 5, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 6,
       5, 5, 6, 7, 5, 6, 6, 5, 4, 6, 6, 6, 5, 6, 5, 6, 5, 5, 6, 6, 5, 5,
       5, 5], dtype=int64)

In [170]:
svc_output = svc.predict(x_test)
svc_output

array([5, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 5, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 5, 6, 5, 6, 6, 6, 6,
       6, 6, 5, 5, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6,
       6, 5, 6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 6, 6, 5, 6, 6, 5, 6, 6, 6,
       5, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6,
       6, 6, 6, 6, 6, 5, 6, 6, 6, 5, 6, 6, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6,
       6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 5, 6,
       5, 6, 6, 6, 5, 5, 6, 5, 6, 6, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6,
       6, 5], dtype=int64)

In [174]:
output_stacked_for_val_3rd_model = np.column_stack((knn_output, svc_output))
output_stacked_for_val_3rd_model = pd.DataFrame(output_stacked_for_val_3rd_model)
output_stacked_for_val_3rd_model

     0  1
0    5  5
1    6  6
2    5  5
3    5  5
4    6  6
..  .. ..
195  6  6
196  5  6
197  5  6
198  5  6
199  5  5

[200 rows x 2 columns]

In [177]:
# Finally predicting output for 3rd model

rf.predict(input_3rd_model)

array([7, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 5, 6,
       5, 5, 6, 6, 6, 5, 5, 6, 5, 6, 6, 5, 6, 6, 6, 6, 5, 7, 5, 6, 5, 6,
       6, 6, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 5, 6, 5, 5,
       6, 6, 5, 5, 5, 5, 5, 6, 6, 6, 7, 5, 5, 6, 6, 6, 7, 6, 5, 5, 5, 6,
       5, 5, 5, 7, 5, 7, 6, 7, 5, 6, 5, 5, 5, 6, 5, 7, 6, 5, 6, 5, 7, 5,
       5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 6, 5, 5, 6, 5, 5,
       5, 6, 6, 5, 5, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 6, 7, 5, 5, 5, 5,
       6, 5, 6, 5, 7, 5, 5, 6, 6, 5, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 6, 5,
       5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 7, 5, 6, 5,
       5, 6, 6, 5, 6, 5, 5, 6, 6, 6, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 7, 5,
       6, 6, 5, 6, 6, 6, 6, 5, 6, 5, 5, 5, 6, 5, 5, 6, 5, 5, 6, 6, 5, 6,
       6, 6, 5, 5, 6, 5, 6, 5, 5, 6, 5, 6, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6,
       5, 5, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6, 6,
       7, 5, 5, 7, 5, 6, 6, 7, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5,
       5, 6, 6, 5, 5, 6, 6, 6, 5, 6, 5, 5, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5,
       6, 5, 6, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 6, 6,
       6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 6, 5, 5, 5, 6, 5, 6, 5, 6, 5, 5, 5,
       5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 5, 6, 7, 6, 5, 6, 7, 5,
       5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 5, 5, 5, 7, 6, 5, 5, 5, 6, 6,
       5, 6, 5, 5, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 5, 5, 7, 6, 5,
       5, 6, 6, 5, 5, 5, 6, 5, 5, 5, 5, 5, 6, 5, 6, 5, 6, 6, 6, 7, 5, 5,
       5, 6, 5, 5, 5, 6, 6, 5, 6, 6, 6, 6, 5, 5, 5, 7, 5, 5, 5, 6, 5, 5,
       5, 5, 5, 5, 5, 5, 6, 5, 5, 7, 7, 5, 5, 5, 5, 5, 6, 5, 6, 5, 6, 6,
       5, 5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 5, 5, 5, 6, 7, 5, 6,
       6, 5, 5, 5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 5, 6, 5, 5, 5, 5,
       5, 6, 5, 5, 5, 5, 5, 5, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 6,
       5, 5, 6, 6, 6, 5, 5, 5, 5, 5, 6, 5, 5, 6, 5, 5, 5, 6, 6, 5, 5, 6,
       5, 5, 5, 5, 6, 5, 6, 6, 5, 6, 7, 6, 5, 5, 5, 6, 6, 5, 5, 6, 6, 5,
       7, 6, 6, 5, 6, 5, 6, 6, 6, 7, 6, 5, 6, 5, 5, 5, 5, 6, 6, 5, 6, 6,
       6, 5, 6, 6, 6, 6, 5, 5, 5, 5, 5, 6, 6, 5, 6, 6, 5, 7, 5, 5, 6, 6,
       7, 5, 6, 7, 6, 5, 5, 6, 5, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 6, 5, 5, 6, 5, 6, 5, 5, 5, 6, 6, 5, 6, 5, 5, 5, 6, 6, 6, 6, 5,
       5, 6, 5, 5, 5, 6, 5, 5, 6, 5, 6, 6, 5, 6, 5, 5, 5, 6, 5, 6, 7, 5,
       5, 5, 5, 5, 5, 6, 5, 6, 5, 5, 5, 5, 6, 5, 6, 5, 5, 5, 5, 5, 6, 5,
       5, 5, 6, 5, 5, 6, 6, 6, 6, 5, 5, 6, 6, 6, 7, 5, 6, 5, 7, 6, 5, 5,
       7, 6, 5, 5, 5, 5, 6, 6, 6, 6, 5, 5, 6, 5, 5, 6, 6, 6, 5, 6, 6, 5,
       5, 6, 5, 5, 5, 5, 6, 5], dtype=int64)

In [178]:
output_stacked_for_val_3rd_model

     0  1
0    5  5
1    6  6
2    5  5
3    5  5
4    6  6
..  .. ..
195  6  6
196  5  6
197  5  6
198  5  6
199  5  5

[200 rows x 2 columns]

In [180]:
# Calculating score for 3rd model by passing the y_test and output_stacked_for_val_3rd_model

rf.score(output_stacked_for_val_3rd_model, y_test)

0.54